

<div class="container-fluid">
  
  <div class="mt-4 p-2 bg-secondary text-white">
    <app-cabecera [titulo]="titulo"  (newItemEvent)="select($event)"></app-cabecera>
  </div>
  
  <!--p>{{latency | json}}</p-->
     
    <table  style="width: 100%;"  class="table  table-hover table-sm">
      <thead class="thead-dark" >
        <tr>
          <th  style="text-align: center;">Code</th>
          <th>Nombre</th>
          <th>Latitud</th>
          <th>Longitud</th>
          <th>Altura</th>
          <th>Region</th>
          <th>TipoEstacion</th>
          <th>TipoRed</th>
          <th>Network</th>
          <th>Estado</th>
          <th>Latencia</th>
          <th>Retraso</th>
          <th>&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let d of data   |paginate: { itemsPerPage: 20, currentPage: p }">
          
          <td style="text-align: center;">
              <span *ngIf="endtime[d.codigo] < '10'; else otro"><button (click)="mostra_sismo(d.Tipo.nombre, d.Network.nombre, d.codigo)" type="button" class="btn-outline-primary btn-sm" data-bs-toggle="modal" data-bs-target="#myModal">
                {{d.codigo}}
              </button></span>
              <ng-template #otro>{{d.codigo}}</ng-template>
          </td>
          <td>{{d.nombre}}</td>
          <td>{{d.latitud}}</td>
          <td>{{d.longitud}}</td>
          <td>{{d.altura}}</td>
          <td>{{d.Region.nombre}}</td>
          <td>{{d.TipoEstacion.nombre}}</td>
          <td>{{d.Tipo.nombre}}</td>
          <td>{{d.Network.nombre}}</td>
          <td>{{d.Estado.nombre}}</td>
          <td>{{latency[d.codigo]| number }}</td>
          <td>{{endtime[d.codigo] | number}}</td>
          <td><span *ngIf="endtime[d.codigo] < 10"><button type="button" class="btn btn-success btn-sm" disabled></button></span>
                             <span *ngIf="endtime[d.codigo] > 10 && endtime[d.codigo] < 300"><button type="button" class="btn btn-warning btn-sm" disabled></button></span>
                             <span *ngIf="endtime[d.codigo] > 300"><button type="button" class="btn btn-danger btn-sm" disabled></button></span></td>
      
        </tr>
      </tbody>
    </table>
    <div class="col" style="background-color:whitesmoke;">
        <pagination-controls (pageChange)="p=$event"></pagination-controls>
    </div>

<!-- The Modal -->
<div class="modal fade" id="myModal">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">{{net}} - {{codigo}}</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <!--{{image | json}}-->        
        <img src='{{image}}'>;
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-success" data-bs-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>






